@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.darkmode {
  --background: #262626;
  --white-color: #fff;
  --nav-color: #fff;
  --black-color: #111111;
  --blue-color: #00ffee;
  --onHover: #00ffee;
  --paragraph: #ffffffc9;
  --green-color: #008000;
  --overlay: rgba(0 ,0 ,0 ,0.6);
  --primary-color: #2d2f36;
  --secondary-color: #0a0a0c;
}

:root {
  --background: #fbfbfb;
  --white-color: #1f1f1f;
  --nav-color: #818181;
  --black-color: #ffffff;
  --blue-color: #ff004f;
  --onHover: #ff004f;
  --paragraph: #1a1a1ac9;
  --green-color: #008000;
  --overlay: rgba(255, 255, 255, 0.6);
  --primary-color: #b4b4b4;
  --secondary-color: #141518;
}

#active {
  color: var(--blue-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black-color);
  color: var(--white-color);
  position: relative;
}

#theme-switch, #scroll-top {
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

#theme-switch{
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scroll-top:hover {
  color: var(--onHover);
}

#theme-switch svg {
  fill: var(--secondary-color);
}

#theme-switch svg:hover {
  fill: var(--onHover);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

/* --------------------------------------------------------Home----------------------------------------------------------  */

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
}

#logo {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
}

#logo span {
  color: var(--blue-color);
}

.logo {
  width: 200px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--blue-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0px 5px 10px var(--blue-color);
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: var(--blue-color);
}

.change-text {
  font-size: 1.5rem;
  margin-top: 30px;
}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
  color: var(--blue-color);
  font-size: 40px;
  margin: -5px 0 0 10px;
}

.change-text h3 .word .letter {
  transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
  transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
  transform: rotateX(-90deg);
}

/* --------------------------------------------------------About Me----------------------------------------------------------  */

#about {
  padding: 100px 0;
  color: var(--paragraph);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  padding-top: 50px;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 40px;
}

.tab-titles {
  display: flex;
  margin: 40px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--blue-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.8s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: bold;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --------------------------------------------------------My Services----------------------------------------------------------  */

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  transform-style: preserve-3d;
}

.services-list div {
  background: var(--background);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.services-list div:hover {
  background: var(--onHover);
  scale: 1.05;
  color: var(--black-color);
  box-shadow: 0px 0px 60px var(--onHover);
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.card {
  box-shadow: 10px 15px 10px var(--onHover);
}

.card:hover {
  box-shadow: 0px 0px 60px var(--onHover);
}

/*------------------------------------------------------------My Work--------------------------------------------------------------*/

#portfolio {
  padding: 40px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(var(--overlay), var(--blue-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--white-color);
}

.layer p {
  color: var(--white-color);
}

.layer a {
  margin-top: 20px;
  color: var(--blue-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  background: var(--white-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--blue-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--white-color);
  transition: background 0.5s;
}

.btn:hover {
  background: var(--blue-color);
  color: var(--black-color);
}

/*------------------------------------------------------------Contact Me--------------------------------------------------------------*/

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
  border: 1px solid var(--blue-color);
  padding: 50px;
}

.contact-left p {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.contact-left p i {
  color: var(--blue-color);
  margin-right: 20px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--white-color);
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--blue-color);
  transform: translateY(-5px);
  /* transform: scale(1.5); */
}

a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
}

.downbtn {
  border: 0.5px solid var(--blue-color);
  padding: 17px 50px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.downbtn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.downbtn::before {
  content: "";
  background: var(--blue-color);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

.downbtn:hover {
  color: var(--white-color);
}

.downbtn:hover::before {
  opacity: 1;
}

.downbtn:active:after {
  background: transparent;
}

.downbtn:active {
  color: var(--black-color);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn.btn2 {
  display: inline-block;
  background: var(--blue-color);
  color: var(--white-color);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0.5px solid var(--blue-color);
  outline: none;
  background: var(--black-color);
  padding: 15px;
  margin: 15px 0;
  color: var(--white-color);
  font-size: 18px;
  border-radius: 6px;
}

.subbtn {
  margin-top: 10px;
  padding: 14px 40px;
}

#msg {
  color: var(--green-color);
  margin-top: -20px;
  display: block;
}

nav .fas {
  display: none;
}

#toastBox {
  position: absolute;
  bottom: 0px;
  right: 60px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  color: var(--black-color);
  font-size: 14px;
}

.toast {
  width: 200px;
  height: 40px;
  background: var(--white-color);
  font-weight: 500;
  box-shadow: 0 0 20px var(--blue-color);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.toast i {
  margin: 0 10px;
  font-size: 18px;
  color: var(--green-color);
}

.toast::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--green-color);
  animation: anim 5s linear forwards;
  border-radius: 5px;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

/*-------------------------------------------------CSS for Smaller Screen------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  #header {
    background-image: url(images/phone-background.png);
  }

  .header-text {
    margin-top: 80%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 30px;
  }

  nav ul {
    background: var(--blue-color);
    position: fixed;
    top: 0;
    right: -150px;
    width: 150px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul li a {
    color: var(--white-color);
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .change-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .change-text h3 {
    font-size: 20px;
  }

  .change-text h3 .word {
    font-size: 25px;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .services-list div:hover {
    scale: 1.05;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .btn2 {
    padding: 12px 40px;
  }

  form .btn2 {
    padding: 12px 40px;
    font-size: 16px;
  }
}
